<div class="main-content body">

    <div style="text-align:center">
        <h2 style="text-align:center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:darkblue;">Equipos participantes del Futbol Femenino de Primera División CR <button type="button" (click)="addTeamView()" *ngIf="authServ.userType === 'superAdmin' || authServ.userType === 'admin'" class="btn btn-success btn-sm">+</button></h2>
        <hr><br>
    </div>

    <!-- Spinner -->
    <div style="margin-bottom: 3%;margin-top:4%" class="spinnerBig" *ngIf="loading">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
    </div>

    <div style=" margin-left:25%;" *ngIf="add">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre del equipo</label>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" tabindex="4" name="nombre" [(ngModel)]="nombre">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Logo del equipo</label>
            <div class="form-group mx-sm-3 mb-2">
                <!-- <p id="imgURL" style="visibility:hidden">{{ urlImg | async }}</p> -->
                <!--{} <input type="text" class="form-control" name="logoImg" [(ngModel)]="logoImg"> -->
                <input type="file" accept="image/*" (change)="upload($event)">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Imagen del estadio</label>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="estadioImg" [(ngModel)]="estadioImg">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Localización</label>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="localization" [(ngModel)]="localization">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Copas Ganadas</label>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="copas" [(ngModel)]="copas">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Descripción</label>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="descrip" [(ngModel)]="descrip">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Fecha de Fundación</label>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="fechaFundac" [(ngModel)]="fechaFundac">
            </div>
        </div>
        <div>
            <button type="button" style="margin-left:3%;" class="btn btn-success btn-sm" (click)="addTeam()">Agregar equipo</button>
        </div>
    </div>



    <!-- Ver los equipos -->
    <div class="card-columns" *ngIf="view">
        <div *ngFor="let team of teamList; let i=index;">
            <div style="text-align:center;" class="card">
                <img class="card-img-top" src="{{team.data.logoImg}}" alt="Card image cap" width="150px" height="210px">
                <div class="card-body">
                    <h5 class="card-title"> <a href="/teamInfo/{{team.key}}"> {{team.data.name}}  </a> </h5>
                    <p class="card-text"></p>
                    <!-- <p class="card-text">{{team.data.description}}</p> -->
                    <p class="card-text"><small class="text-muted">Fecha de fundación: {{team.data.fundation}}</small></p>
                </div>
            </div>
        </div>

    </div>

</div>