<div class="main-content body">
    <div class="container-fluid" style="text-align:left; margin-left:2%">

        <h2>Just Soccer CR</h2>

        <blockquote>
            Esta pagina web fue realizada con el unico proposito .... --- -- -- -- -- --

        </blockquote>
        <br>
        <div style="text-align:unset">
            <h6 style="color:tomato">Desarrolladores</h6>
            <div style="float:left;margin-left:10%;">
                <a href="">Wilfred Alvarado</a><br>
                <img src="..." alt=" Imagen Perfil">
            </div>
            <div style="float:left;margin-left:10%;">
                <a href="">Angelo Guerrero</a><br>
                <img src="..." alt=" Imagen Perfil">
            </div>
        </div>


    </div>
</div>