<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" style="color:blue; background-color:thistle">
        <!-- <mat-toolbar>Menu</mat-toolbar> -->
        <span><img src="./assets/imgs/jsLOGO.jpg" width="99%" height="35%"></span>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/home']" style="font-family:'Lucida Console', Monaco, monospace">Inicio</a>
            <a mat-list-item *ngIf=" authser.userType === 'superAdmin' " [routerLink]="['/authUser']" style="font-family:'Lucida Console', Monaco, monospace">Administradores</a>
            <a mat-list-item [routerLink]="['/tournament']" style="font-family:'Lucida Console', Monaco, monospace">Torneos</a>
            <a mat-list-item [routerLink]="['/teams']" style="font-family:'Lucida Console', Monaco, monospace">Equipos</a>
            <a mat-list-item [routerLink]="['/journalAdmin']" style="font-family:'Lucida Console', Monaco, monospace">Jornadas</a>
            <a mat-list-item [routerLink]="['/stadisticsAdmin']" style="font-family:'Lucida Console', Monaco, monospace">Estadisticas</a>
            <a mat-list-item [routerLink]="['/notes']" style="font-family:'Lucida Console', Monaco, monospace">Notas</a>
            <a mat-list-item [routerLink]="['/notes']" style="font-family:'Lucida Console', Monaco, monospace">Multimedia</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <!-- <span><img src="./assets/imgs/nav.jpg" width="110%" height="60px"></span> -->
            <p style=" margin-left:80%;margin-right:5%;    color:rgb(24, 207, 40);font-size:35px; font-weight: 700;" *ngIf="authser.isUserLoggedIn">{{name}}</p>

            <button *ngIf="!authser.isUserLoggedIn" type="button" class="btn btn-success" [routerLink]="['/authUser']">Login/Registro</button>
            <button *ngIf="authser.isUserLoggedIn" type="button" (click)="logout()" class="btn btn-warning">Cerrar Sesión</button>
            <!-- <span>Titulo :v</span> -->
        </mat-toolbar>
        <br>
        <!-- BODY del navbar global -->
        <router-outlet></router-outlet>
        <!-- Footer -->

    </mat-sidenav-content>


</mat-sidenav-container>