<div class="main-content body">
    <div class="container-fluid">

        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <button type="button" *ngIf=" authServ.userType === 'superAdmin' || authServ.userType === 'admin'" class="btn btn-dark" (click)="creaNota()" style="margin-left:5%">Crear Nota   </button>
                    <button type="button" class="btn btn-dark" (click)="veNotas()" style="margin-left:5%">Ver todas las Notas    </button>
                </div>
            </div>
        </nav> -->

        <br>

        <div class="alert alert-success" role="alert" *ngIf="notesList.length==0">
            <strong>No hay notas disponibles actualmente!!</strong>
        </div>


        <div>
            <hr style="color:blue;">
            <span> A continuación se muestran las 50 notas deportivas  más recientes de Just Soccer. Para ver más visite el blog principal de</span>
            <a href="http://justsoccercr.blogspot.com/" target="_blank"> Just Soccer</a><br>
            <hr style="color:blue;">
        </div>


        <div class="card-group" *ngIf="readNote">
            <div *ngFor="let nota of jsonNotas.items; let i=index;">
                <div style="text-align:center;margin-top:2%;margin-left:2%;margin-right:2%;" class="card">
                    <div class="card-body">
                        <h6 class="card-title"> <a href="{{nota.url}}" target="_blank"> {{nota.title}} </a> </h6>
                        <br>
                        <img class="card-img-top" src="{{nota.images[0].url}}" alt="img referencia" class="img180">

                        <small>Nota escrita por {{nota.author.displayName}}</small><br>
                        <small>Feha de publicación: {{nota.updated}}</small><br>
                    </div>
                </div>
            </div>
        </div>




        <!-- <div *ngIf="createNote">
            <form style="text-align:center; margin-left:2%;margin-right:2%;">
                <div>
                    <div class="form-group col-md-6" style="float:left;">
                        <label style="font-size:16px;color:blueviolet">Titulo de la nota</label>
                        <input type="text" name="titleNote" class="form-control" [(ngModel)]="titleNote" placeholder="">
                    </div>
                    <div class="form-group col-md-6" style="float:right;">
                        <label style="font-size:16px;color:blueviolet">Imagen de referencia</label>
                        <input type="file" accept="image/*" (change)="upload($event)">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">

                    <label style="font-size:16px;color:blueviolet; text-align:center;">Contenido de la nota</label><br>
                    <textarea name="dataModel" [(ngModel)]="dataModel" rows="20" class="form-control" spellcheck>
                      </textarea>
                    <!-- <editor name="dataModel" [(ngModel)]="dataModel" [init]="{height: 500,
                      theme: 'modern',
                      remove_linebreaks : false,
                      force_br_newlines : true,
                      force_p_newlines : true,
                      gecko_spellcheck : true,
                      forced_root_block : '',
                      plugins: 'print preview fullpage  searchreplace autolink directionality  visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount  imagetools mediaembed  linkchecker contextmenu colorpicker textpattern help',
                      toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
                      image_advtab: true,
                      content_css: [
                        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                        '//www.tinymce.com/css/codepen.min.css'
                      ]}"></editor>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-dark" (click)="creaNotaDB()">Agregar Nota!!</button>
                </div>
            </form>


        </div> -->




    </div>
</div>