<div class="main-content body elementToFadeInAndOut imgCentral">
    <div class="container-fluid">
        <br>
 
        <div class="alert alert-warning elementToFadeInAndOut" role="alert" *ngIf="notesList.length==0">
            <strong>Cargando notas ....!!</strong>
        </div>
        <div style="padding: 25% 25% 25% 25%" *ngIf="notesList.length==0" ></div>

        <div style="border-color:rgb(191, 192, 107);
        background-color:rgba(218, 215, 223, 0.9); padding: 1% 0% 1% 2%;border-radius: 20px;">
            <span style="color:rgb(168, 105, 33);"> A continuación se muestran las 50 notas deportivas  más recientes de Just Soccer. Para ver más visite el blog principal de</span>
            <a href="http://justsoccercr.blogspot.com/" target="_blank"> Just Soccer</a><br>
        </div>


        <div class="card-group elementToFadeInAndOut" *ngIf="readNote">
            <div *ngFor="let nota of jsonNotas.items| paginate: { itemsPerPage: 9, currentPage: p }    ; let i=index;">
              <div style="margin-left:9%">
                    <div style="margin-top:10%; margin-right: 5%;  border-radius:30px;box-shadow: 9px 9px 17px 2px rgba(0,0,0,0.75);" class="card">
                       
                            <div class="card-body" style="width:350px; height:320px;">
                                <h6 class="card-title" style="color:rgb(100, 36, 49)"> <a href="{{nota.url}}" target="_blank"> {{nota.title}} </a> </h6>
                                <br>
                                <a href="{{nota.url}}" target="_blank" >
                                    <img class="card-img-top" src="{{nota.images[0].url}}" alt="img referencia" style="width:250px;height:170px;">
                                </a>
                                <!-- class="img180" -->
                                <br>
                                <small>Nota escrita por {{nota.author.displayName}}</small><br>
                                <small style="color:grey">Feha de publicación: {{nota.updated}}</small><br>
                            </div>
                        </div>
              </div>
            </div>
        </div>
        <div style="margin-top:4%;" class="pagination" *ngIf="readNote && notesList.length>0">
            <pagination-controls  responsive="true" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div style="padding: 2% 2% 1% 2%" *ngIf="readNote" ></div>




        <!-- <div *ngIf="createNote">
            <form style="text-align:center; margin-left:2%;margin-right:2%;">
                <div>
                    <div class="form-group col-md-6" style="float:left;">
                        <label style="font-size:16px;color:blueviolet">Titulo de la nota</label>
                        <input type="text" name="titleNote" class="form-control" [(ngModel)]="titleNote" placeholder="">
                    </div>
                    <div class="form-group col-md-6" style="float:right;">
                        <label style="font-size:16px;color:blueviolet">Imagen de referencia</label>
                        <input type="file" accept="image/*" (change)="upload($event)">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">

                    <label style="font-size:16px;color:blueviolet; text-align:center;">Contenido de la nota</label><br>
                    <textarea name="dataModel" [(ngModel)]="dataModel" rows="20" class="form-control" spellcheck>
                      </textarea>
                     <editor name="dataModel" [(ngModel)]="dataModel" [init]="{height: 500,
                      theme: 'modern',
                      remove_linebreaks : false,
                      force_br_newlines : true,
                      force_p_newlines : true,
                      gecko_spellcheck : true,
                      forced_root_block : '',
                      plugins: 'print preview fullpage  searchreplace autolink directionality  visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount  imagetools mediaembed  linkchecker contextmenu colorpicker textpattern help',
                      toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
                      image_advtab: true,
                      content_css: [
                        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                        '//www.tinymce.com/css/codepen.min.css'
                      ]}"></editor>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-dark" (click)="creaNotaDB()">Agregar Nota!!</button>
                </div>
            </form>


        </div> -->




    </div>
</div>