<div class="main-content body imgCentral" style="height:540px">
    <div class="container-fluid">

        <ul class="nav nav-tabs justify-content-center">
            <li style="margin-right:2%;" class="nav-item">
                <a id="log" style="color:rgb(38, 82, 28);text-decoration:underline;" [ngClass]="{'nav-link active':read == true}" class="nav-link" (click)="verTorneos()">Ver Torneos </a>
            </li>
            <li style="margin-right:2%;" class="nav-item" *ngIf=" authServ.userType === 'superAdmin' || authServ.userType === 'admin'">
                <a id="reg" style="color:rgb(38, 82, 28);text-decoration:underline;" [ngClass]="{'nav-link active':create == true}" class="nav-link" (click)="creaTorneo()">Crear Torneo</a>
            </li>
        </ul>

        <br>

        <!-- Crear torno nuevo -->
        <div style="text-align:center;margin-left:20%; margin-right:20%;margin-top:2%; border-radius:15px; background-color:rgba(179, 174, 174, 0.892); padding: 2% 2% 2% 2%;" *ngIf="create">
            <form id="register-form" role="form" style="text-align:center">

                <div class="form-group">
                    <label>Nombre del Torneo</label>
                    <input type="text" name="name" tabindex="1" [(ngModel)]="name" class="form-control" placeholder="Torneo Primera Division 2019">
                </div>
                <div class="form-group">
                    <label>Fecha de Inicio</label>
                    <input type="date" name="fecha" tabindex="2" [(ngModel)]="fecha" class="form-control">
                </div>
                <div class="form-group">
                    <label for="sel1">Categoria</label>
                    <select class="form-control" id="category" name="category" [(ngModel)]="category">
                      <option selected value>Primera División</option>
                      <option disabled>Segunda División</option>
                    </select>
                </div>
                <small style="color:red;">Actualmente la funcionalidad admite unicamente equipos de Primera División.</small>
                <!-- <div class="form-group">
                    <p>Seleccione los equipos participantes del torneo.</p>
                    <div *ngFor="let team of TeamList; let i=index;">
                        <label><input type="checkbox" id="p_{{i}}"  checked>{{team.data.name}}</label><br>
                    </div>
                </div> -->
                <div class="form-group">
                    <div class="row">
                        <button type="button" name="login-submit" id="login-submit" tabindex="2" class="btn btn-success btn-lg btn-block" (click)="createTournamet()">Crear Torneo</button>
                    </div>
                </div>
            </form>
        </div>


        <!-- Visualizar lista de torneos -->
        <div style="  margin-left:15%;margin-right:15%;background-color:rgba(155, 242, 158, 0.707); border-radius:30px; padding-bottom:1% ; width: 70%;  height: 450px; overflow-y: scroll;" *ngIf="read">

            <div *ngFor="let torneo of TournamnetList" style="margin-top:2%;border-radius:15px;">
                <br>
                <div style="text-align:center;">
                    <a href="stadistics/{{torneo.key}}">
                        <h5 style="color:rgb(56, 116, 49)">{{torneo.data.name}}</h5>
                    </a>
                    <p><strong style="color:brown"> Categoría: </strong> {{torneo.data.category}}</p>
                    <p> <strong style="color:brown"> Estado actual: </strong> {{torneo.data.estado}} </p>
                    <!-- <button> Eliminar Torneo </button>  Funcionalidad procima -->
                </div>


            </div>

        </div>
    </div>
</div>