/* You can add global styles to this file, and also import other style files */


/* Estilo de Angular Material*/


/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #ffffff;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

html {
    min-height: 100%;
    position: relative;
}

.body {
    margin: 0;
    margin-bottom: 35px;
}

footer {
    /* background-color: black; */
    bottom: 0;
    width: 100%;
    position: relative;
    height: 400px;
    margin-top: -40px;
    clear: both;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*  Estilos para forms Login/Registro*/

.panel-login {
    border-color: rgb(153, 19, 142);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"],
.panel-login input[type="number"] {
    height: 45px;
    border: 1px solid rgb(24, 8, 8);
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: rgb(56, 201, 37);
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 34px;
    height: auto;
    font-weight: normal;
    padding: 12px 0;
    text-transform: uppercase;
    border-color: rgb(93, 91, 216);
}

.btn-login:hover,
.btn-login:focus {
    color: rgb(233, 18, 18);
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}


/*Page not found*/

@import 'compass';

/* body{
  background-color: #111111
} */

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 500px;
    margin: -75px 0 0 -250px;
    padding: 20px;
    font: 75px/75px Monoton, cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    color: red;
}

.error {
    color: rgb(31, 28, 28);
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff
}

#word {
    color: rgb(31, 28, 28);
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff
}


/*Style div*/

div.colorDiv {
    background-color: rgb(223, 209, 190);
    outline: 2px dashed rgb(20, 106, 27);
    padding-left: 1%;
    border-style: outset;
}


/* Spineer Big Loadidng*/

.spinnerBig {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.item {
    width: 100px;
    height: 100px;
    position: absolute;
}

.item-1 {
    background-color: #FA5667;
    top: 0;
    left: 0;
    z-index: 1;
    animation: item-1_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-2 {
    background-color: #7A45E5;
    top: 0;
    right: 0;
    animation: item-2_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-3 {
    background-color: #1B91F7;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: item-3_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-4 {
    background-color: #FAC24C;
    bottom: 0;
    left: 0;
    animation: item-4_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

@keyframes item-1_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, 100px)
    }
    50% {
        transform: translate(100px, 100px)
    }
    75% {
        transform: translate(100px, 0)
    }
}

@keyframes item-2_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(-100px, 0)
    }
    50% {
        transform: translate(-100px, 100px)
    }
    75% {
        transform: translate(0, 100px)
    }
}

@keyframes item-3_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, -100px)
    }
    50% {
        transform: translate(-100px, -100px)
    }
    75% {
        transform: translate(-100px, 0)
    }
}

@keyframes item-4_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(100px, 0)
    }
    50% {
        transform: translate(100px, -100px)
    }
    75% {
        transform: translate(0, -100px)
    }
}


/*Clases Tabla Posiciones */

.td_7 {
    background-color: rgb(191, 115, 115);
}

.td_0 {
    background-color: rgb(142, 214, 142);
}

.td_1 {
    background-color: rgb(142, 214, 142);
}

.td_2 {
    background-color: rgb(142, 214, 142);
}

.td_3 {
    background-color: rgb(142, 214, 142);
}

.img10 {
    width: 50px;
    height: 50px;
}

.img180 {
    width: 280px;
    height: 200px;
}

.iconsImg {
    margin-right: 10%;
}

.responsive {
    width: 100%;
    height: auto;
  }

  .elementToFadeInAndOut {
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
}

@-webkit-keyframes fadein {
  0%,20% { opacity: 0; }
  40% { opacity: 1; }
}

