<div class="main-content body elementToFadeInAndOut">
    <div class="container-fluid">



        <div class="jumbotron jumbotron-fluid" style="margin-top:8%; margin-bottom:8%;">
            <div class="container">
                <!-- <h1 class="display-4">tITULO</h1> -->
                <p class="lead"><strong>Just Soccer Costa Rica</strong> se fundó el 25 de octubre del 2015, en una idea de Allan Martínez y Daniela Argüello para informar sobre el fútbol femenino, desde su fundación, se ha enfocado en todo lo relacionado a esta rama
                    del deporte, incluyendo la Selección Femenina y los mundiales. Just Soccer trabaja día a día para mejorar en todos los aspectos para llegar a todos los rincones del país.
                </p>
            </div>
        </div>




    </div>
</div>