<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br>


<div class="main-content body">
    <div class="container-fluid">
        <div>
            <div>
                <!-- User View -->
                <div *ngIf="!adminUse">
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a style="font-size:120%;" id="log" [ngClass]="{'nav-link active':login == true}" class="nav-link" (click)="pressLogin()">Login</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:120%;" id="reg" [ngClass]="{'nav-link active':registro == true}" class="nav-link" (click)="pressRegistro()">Registro</a>
                        </li>
                    </ul>
                </div>


                <!-- Admin View -->
                <div *ngIf="adminUse">

                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a style="font-size:120%;" id="log" [ngClass]="{'nav-link active':myAdminView == true}" class="nav-link" (click)="pressMyAdmins()">Mis Administradores</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:120%;" id="reg" [ngClass]="{'nav-link active':adminRegistro == true}" class="nav-link" (click)="pressRegistroAdmin()">Registrar Admin</a>
                        </li>
                    </ul>

                </div>


                <div class="panel-body">
                    <div class="row">
                        <div style=" padding:2% 3% 2% 3%; border-radius:15px; border-style:solid;border-color:teal; margin-left:15%;">
                            <!-- Login View -->
                            <div style="float:left;">
                                <form style="padding-left:90%; " id="login-form" role="form" style="display: block;" *ngIf="login && !adminUse">
                                    <div class="form-group ">
                                        <input type="text" name="email" id="email" [(ngModel)]="email" tabindex="1" class="form-control" autocomplete="off" placeholder="Correo electronico" value="">
                                    </div>
                                    <br>
                                    <div class="form-group ">
                                        <input type="password" name="password" id="password" [(ngModel)]="password" tabindex="2" autocomplete="off" class="form-control" placeholder="Contraseña">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button type="button" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" (click)="loginUser()">Ingresar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div style="float:right;margin-left:2%" *ngIf="login && !adminUse">
                                <img style="float:right;" src="https://image.freepik.com/vector-gratis/candado_17-828103944.jpg" alt="" width="200px" height="200px">
                                <p style="color:rgb(148, 148, 147);"> Inicie sesión para lograr contar con más beneficios dentro de la página</p>
                            </div>


                            <!-- My admin Views -->
                            <div style="margin-left:4%; margin-right:4%;" *ngIf="adminUse && myAdminView">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Primer Apellido</th>
                                            <th scope="col">Segundo Apellido</th>
                                            <th scope="col">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let admin of adminList; let i=index">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{admin.data.name}}</td>
                                            <td>{{admin.data.surnameI}}</td>
                                            <td>{{admin.data.surnameII}}</td>
                                            <td>
                                                <button type="button" (click)="delegarAdmin(admin)" class="btn btn-danger btn-sm">Delegar Puesto</button>
                                                <!-- <button type="button" class="btn btn-success btn-sm">Ver Historial Activ.</button> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <form id="register-form" role="form" *ngIf="registro || adminRegistro">

                                    <div style="margin-bottom:2%;" *ngIf="authServ.userType === 'superAdmin'">
                                        <span style="color:blue">Ya está registrado? Ingrese unicamente el correo del nuevo administrador! </span>
                                        <input type="text" name="" id="emailVerif" placeholder="email" placeholder="Email">
                                        <button (click)="addAdminEmail()" class="btn btn-info">Registrar mediante Correo</button>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" name="name" [(ngModel)]="name" autocomplete="off" class="form-control" placeholder="Nombre">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" name="firstLastN" [(ngModel)]="firstLastN" autocomplete="off" class="form-control" placeholder="Primer Apellido">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" name="secondLastN" [(ngModel)]="secondLastN" autocomplete="off" class="form-control" placeholder="Segundo Apellido">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="email" tabindex="1" [(ngModel)]="email" autocomplete="off" class="form-control" placeholder="Correo Eléctrónico">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" name="telefono" tabindex="2" [(ngModel)]="telefono" autocomplete="off" class="form-control" placeholder="Número de telefono">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" [(ngModel)]="password" tabindex="2" autocomplete="off" class="form-control" placeholder="Contraseña">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirmPasw" [(ngModel)]="confirmPasw" tabindex="2" autocomplete="off" class="form-control" placeholder="Confirmar Contraseña">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button type="button" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" (click)="registerUser()">Registrar!!</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <br>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<br>