<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br>
<br>



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" (click)="pressLogin()" class="btn btn-outline-success">Login</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" (click)="pressRegistro()" class="btn btn-outline-info">Registro</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="lds-hourglass"></div>
                            <form id="login-form" role="form" style="display: block;" *ngIf="login">
                                <div class="form-group">
                                    <input type="text" name="email" id="email" [(ngModel)]="email" tabindex="1" class="form-control" placeholder="Correo electronico" value="">
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" [(ngModel)]="password" tabindex="2" class="form-control" placeholder="Contraseña">
                                </div>

                                <!-- <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                </div> -->
                                <br>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="button" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" (click)="loginUser()">Ingresar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a tabindex="5" class="forgot-password">Olvido su contraseña?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <br>
                            <form id="register-form" role="form" *ngIf="registro">
                                <!-- <div class="form-group">
                                    <input type="text" name="name" tabindex="1" class="form-control" placeholder="Nombre" value="">
                                    <input type="text" name="firstLastN" tabindex="1" class="form-control" placeholder="Primer Apellido" value="">
                                </div> -->

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="Nombre">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" name="firstLastN" [(ngModel)]="firstLastN" class="form-control" placeholder="Primer Apellido">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" name="secondLastN" [(ngModel)]="secondLastN" class="form-control" placeholder="Segundo Apellido">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <input type="text" name="email" tabindex="1" [(ngModel)]="email" class="form-control" placeholder="Correo Eléctrónico">
                                </div>
                                <div class="form-group">
                                    <input type="number" name="telefono" tabindex="2" [(ngModel)]="telefono" class="form-control" placeholder="Número de telefono">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" [(ngModel)]="password" tabindex="2" class="form-control" placeholder="Contraseña">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirmPasw" [(ngModel)]="confirmPasw" tabindex="2" class="form-control" placeholder="Confirmar Contraseña">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="button" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" (click)="registerUser()">Registrar!!</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>